<div class="grid-container">
	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="cell small-12 medium-12 large-12">
			<h1>New Recipe</h1>

			<%= render 'form', recipe: @recipe %>

			<%= link_to 'Back', recipes_path %>
		</div>
	</div>
</div>