<div id="recipe-detail" class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="cell small-12 medium-12 large-12 align-middle">
			<p id="notice"><%= notice %></p>
			<h1><%= @recipe.name %></h1><%= link_to content_tag(:i, nil, :class => "fas fa-pencil-alt"), edit_recipe_path(@recipe) %>
		</div>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="cell small-4 medium-2 large-2">
			<span class="<%= @recipe.quick %> align-middle">Quick</span>
		</div>
	</div>
</div>