#recipe_search{
	position: relative;
	input[type="submit"]{
		border: none;
		border-color: transparent;		
	}
	svg{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	    width: 2rem;
	    -webkit-appearance: initial;
	    padding: .25rem .5rem .25rem 0;
		color: $red;
	}
}