@import url('//fonts.googleapis.com/css?family=Kadwa:700');

a{
	color: $red;
	transition: color 0.5s;
	&:hover, &:active, &:focus{
		color: $dark_tan;
	}
}

h1{
	font-family: 'Kadwa', serif;
	color: $red;
	margin-bottom: 0;
}

label{
	font-size: 1rem;
}